@tailwind base;
@tailwind components;
@tailwind utilities;
 
.hero-img {
 background-image: url('../public/woman-shoppings.jpg');
}

.promo-1 {
    background-image: url('../public/femaledresses.avif');
}

.promo-2 {
    background-image: url('../public/jwelery-shopping.avif');
}

.myDiscount {
transform-origin: 100% 0;
}

.contact-img {
    background-image: url('../public/shoping-girl.jpg');
}